@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Baza inspirisana slikama: Striktno crno i belo */
  --primary: #000000;    /* Primarna boja teksta, naslova i tamnih sekcija */
  --secondary: #ffffff;  /* Glavna pozadina ekrana */
  --accent: #000000;     /* Privremeno crna, spremna za tvoju buduću zeleno-plavu */
}

@layer base {
  body {
    @apply bg-secondary text-primary font-sans antialiased selection:bg-black selection:text-white;
  }

  *, *::before, *::after {
    border-radius: 0px !important;
  }
}

@layer components {
  /* Pomoćna klasa za tanke inženjerske linije/mreže sa slika */
  .grid-border {
    @apply border border-neutral-200;
  }
}

/* Sakrivanje skrol trake za slajdere, ali zadržavanje funkcionalnosti prelistavanja */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}